.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

    border-radius: 8px;
    background-color:var(--pink);

    width: 279px;
    height: 69px;
}

.element{
    flex: none;
    order: 3;
    flex-grow: 0;
}

.button-text{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}