.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 8px;
    gap: 22px;

    width: auto;
    height: 80vh;
}

.message-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.message-user{
    font-weight: 500;
}