.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    flex-grow: 1;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

input {
    border:none;
    border-radius: 8px;

    font-style: normal;
    font-weight: 400;

    background: var(--light-grey);
    color:var(--black);
}

input:focus {
    outline: none
}

.smallInput{
    width: 442px;
    height: 67px;
}

.smallText{
    font-size: 13px;
    line-height: 14px;
}

.smallTextInput{
    font-size: 32px;
    line-height: 40px;

    text-align: center;
}

.largeInput{
    width: 100%;
    height: 33px;
}

.largeTextInput{
    font-size: 16px;
    line-height: 20px;

    text-align: left;
    padding-left:8px;
    
}

.none{
    display:none
}